<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me!</h2>
                <hr class="light">
                <p class="text-faded">
                    Experienced Staff Software Engineer focused on driving organizational change through iterative change management, the adoption of Agile methodologies, the latest in front-end technologies, and industry best practices for code quality, management, and security. Occasional event organizer and public speaker.
                </p>
                <a class="btn btn-default btn-xl page-scroll" href="#services">Skills</a>
            </div>
        </div>
    </div>
</section>
