<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me!</h2>
                <hr class="light">
                <p class="text-faded">
                    Experienced Staff Software Engineer dedicated to implementing organizational transformation through iterative change management, the adoption of Agile methodologies, cutting-edge front-end technologies, and industry-leading practices for code quality, management, and security. Also actively involved in organizing professional events and delivering public speeches on occasion.
                </p>
                <a class="btn btn-default btn-xl page-scroll" href="#portfolio">Portfolio</a>
            </div>
        </div>
    </div>
</section>
