<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>If you're looking for an expereinced front-end developer and technical leader to join your team then let's connect!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <a href="{{ site.linkedin_url }}">
                <i class="fa fa-linkedin-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="https://github.com/james-wilkinson-git?tab=repositories">
                <i class="fa fa-github-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
        </div>
    </div>
</section>
