<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="/img/james.png" alt="James Wilkinson" class="profile-image" />
            <h1>Experienced <br />Front-End Leader</h1>
            <hr>
            <p>James (they/them) has over 15 years working across multiple industries,
                project sizes, tech stacks, and more!
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">About Me</a>
        </div>
    </div>
</header>
