<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Skills</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary"></i>
                    <h3>Development</h3>
                    <p class="text-muted">I've been developing on the front-end for over 15 years. Working with various tech stacks and integrating with numerous back-end languages and build processes.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-line-chart wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Education</h3>
                    <p class="text-muted">I used to run a development conference and in every role have become a subject matter expert documenting our implementations and educating other developers on best practices.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Leadership</h3>
                    <p class="text-muted">I've been the tech lead, team lead, scrum master and more. Collaborating with other departments and team memebers is a core part of my day to day. </p>
                </div>
            </div>
        </div>
    </div>
</section>
